
.navbar{
    text-align: center;
    margin-top: 1%;  
}
.navbar h2{
    margin: 1% 0 0 0;
    color: rgb(127, 255, 223);
    text-shadow: 5px 5px 4px  blue;
}
.name{
    background-color: rgba(104, 99, 99, 0.89);
    float: left;
    width: 30%;
    margin-right:1% ;
    border-radius:0 60px 60px 0  ;
    height: 45px;
}
.group{
    background-color: rgb(0, 0, 0);
    float: left;
    width: 69%; 
    height: 45px;
    border-radius:60px 0 0 60px ;
}
.navbar a{
    float: right;
    padding: 5px;
    text-decoration : none ;
    margin: 0.5% 1% 0 1%;
    font-weight: 600;
    font-size: large;
    color: rgb(48, 219, 219);
}
.navbar a:hover{
    text-shadow: 3px 3px 9px rgb(0, 247, 255);
}
 @media screen and (max-width:700px) {
    .navbar{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .name,.group{
        width: 100%;
        border-radius: 60px;
    }
    .group{
        display: flex;
        justify-content: center;
        margin-top: 1%;
        align-items: center;

    }
 }
 @media screen and (max-width:550px) {
    .group{
       flex-direction: column;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.829);
    }
 }