*{
    margin: 0;
    padding: 0;
}
.root{
    display: flex;
    flex-direction: column;
    background: rgb(41,49,54);
    background: linear-gradient(90deg, rgba(41,49,54,1) 12%, rgba(78,176,187,1) 43%, rgba(21,86,168,1) 100%);
}
